/* UTILITY */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-weight: 600;
}
.flex{
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.between{
  justify-content: space-between;
}
.center{
  align-items: center;
}
.pl-50{
  padding-left: 50px;
}
.pr-50{
  padding-right: 50px;
}
.pt-20{
  padding-top: 20px;
}
.pb-20{
  padding-bottom: 20px;
}

/* CONTENITORI */
body{
  background: #fff5e2;
}
.wrapper{
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
}
header{
  height: 140px;
  background: #fdbb40;
  position: relative;
}
main{
  background: #fff;
  height: calc(100% - 240px);
}
/* .container{
  width: 50%;
} */
.check-container{
  display: inline-block;
}
.choose{
  width: 50%;
}
footer{
  height: 100px;
  background: #d33359;
  color: #fff;
}


/* ELEMENTI */
/* ELEMENTI HEADER */
header img{
  height: 200px;
  position: absolute;
  right: -30px;
}
/* ELEMENTI MAIN */
.name-burger{
  border: none;
  font-size: 22px;
}
.container img{
  height: 30px;
  vertical-align: middle;
}
.choose input[type=checkbox]:checked{
  visibility: hidden;
}
.choose span::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #d33359;
    display: inline-block;
    transform: translateX(-52px);
}
.choose input[type=checkbox]:checked + span::before{
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  transform: translate(-22px,-5px);
  z-index: 1;
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 25px;
  font-weight: 900;
  color: black;
}
.discount{
  width: calc(100% - 190px);
  border: 0;
  background: #fff5e2;
}
.btn-con{
  text-align: center;
}
button{
  background-color: #fdbb40;
  width: 120px;
  height: 50px;
  border: 0;
  border-radius:10px;
  padding-left: -50px;
}
